<div id="footer">
  <div id="offline" ng-show="model.connectivity.internet == false">
    {{ 'CONNECTION_OFFLINE' | i18n }}
  </div>
  <div ng-show="model.connectivity.internet != false">
    <div id="still-connecting" ng-show="inGetMode && model.connectivity.nproxies == -1">
      {{ 'CONNECTING' | i18n }}<br>
    </div>
    <div id="noproxies" ng-show="inGetMode && model.connectivity.nproxies == 0">
      {{ 'NO_PROXIES' | i18n }}<br>
      <!--
      {{ 'WAIT_FOR_FRIEND_OR' | i18n }}
      <a class="always-underlined warning-colored" ng-click="interaction(INTERACTION.sponsor)">{{ 'SPONSOR_NOW' | i18n }}</a>
      -->
    </div>
    <div id="stats" ng-show="!inGetMode || model.connectivity.nproxies > 0">
      <div ng-show="statsLoaded">
        {{ 'NUSERS_ONLINE' | i18n:(model.globalStats.gauges.userOnline || 0) }} ·
	25,249 users ever ·
        {{ model.globalStats.counters.bytesGotten | prettyBytes }} {{ 'TRANSFERRED_GLOBALLY' | i18n }}
      </div>
      <div ng-hide="statsLoaded">
        <!-- just show an empty line instead of "Loading stats..." -->
        &nbsp;
        <!--
        {{ 'LOADING_STATS' | i18n }}
        -->
      </div>
    </div>
  </div>

  <div id="appInfo">
    {{ 'LANTERN' | i18n }}
    {{ model.version.installed | version:true }}
    <span>
      · <a>{{ 'ABOUT' | i18n }}</a>
    </span>
    <span>
      · <a>{{ 'CONTACT' | i18n }}</a>
    </span>
    <!--
    <span>
      · <a ng-click="interaction(INTERACTION.sponsor)">{{ 'SPONSOR' | i18n }}</a>
    </span>
    -->
  </div>
</div>
